page-stock-manager {
    .selectWarehouse {
      width: 40%;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    ion-label {
      font-size: 20px;
      font-weight: bold;
    }
  }
  
  .leak_alert{
    ion-card{
    font-weight: bold;
    padding-left: 10px;
    width: 60%;
    height: 30px;    
    }
 

  }
  .product_info{
   
  }
}
