<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>공장 및 라인 선택</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    
      <ion-row>
        <ion-col *ngFor="let factory of factories">
          <ion-card>
            <div class="select">
            <img src="../assets/icon/factory.png" />
            <button ion-button color="dark">{{factory.title}}</button>
            <h3>{{factory.description}}</h3>
            </div>
            <ion-list>
                <button color="light" (click)="viewMonitoring(factory.title, line.lineId)" *ngFor="let line of factory.lines" ion-button full>{{line.name}}</button>
            </ion-list>
          </ion-card>
        </ion-col>
      </ion-row>
    
  </ion-grid>
</ion-content>

