page-factory-monitoring {
  .selectFactory {
    text-align: center;
  }
  .selectLine {
    text-align: center;
    ion-label {
      font-size: 20px;
      font-weight: bold;
    }
  }
  .round-button {
    display: block;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 130px;
    height: 130px;
    line-height: 50px;
    border: 5px dashed black;
    border-radius: 50%;
    color: black;
    text-align: center;
    text-decoration: none;
    padding-top: 35px;
    box-shadow: 0 0 5px black;
    font-size: 18px;
    font-weight: bold;
    transition: 800ms ease all;
  }
  .round-button:hover {
    background: #ffffff;
  }
  .round-button-arrow {
    display: block;
    margin-right: 40px;
    margin-bottom: 10px;
    margin-top: 58px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    color: black;
    text-align: center;
    text-decoration: none;
    background: #ffffff;
    box-shadow: 0 0 4px black;
    cursor: pointer;
    transition: 1000ms ease all;
    outline: none;
  }
  .round-button-arrow:hover {
    background: gray;
  }
  .round-button-arrow img {
    display: block;
    padding: 12%;
    height: auto;
  }
  .round-button-end {
    display: block;
    margin-right: 25px;
    margin-bottom: 20px;
    margin-top: 25px;
    width: 130px;
    height: 130px;
    line-height: 50px;
    border: 5px solid black;
    border-radius: 50%;
    color: black;
    text-align: center;
    text-decoration: none;
    background: #dd2551;
    box-shadow: 0 0 5px black;
    font-size: 18px;
    font-weight: bold;
    transition: 1000ms ease all;
  }
  .round-button-end:hover {
    background: #ffffff;
  }
  .round-button-run {
    display: block;
    text-align: center;
    margin-right: 25px;
    margin-bottom: 10px;
    margin-top: 6px;
    width: 130px;
    height: 130px;
    line-height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: #344557;
    box-shadow: 0 0 4px black;
    cursor: pointer;
    transition: 1200ms ease all;
    outline: none;
  }
  .round-button-run img {
    display: block;
    padding: 12%;
    height: auto;
  }
  .content-process {
    ion-card {
      width: 98.7%;
      ion-card-title {
        color: #ffffff;
        text-align: right;
      }
    }
    br {
      font-size: 0px;
    }
  }
  .table_attribute {
    margin-top: 30px;
    ion-col {
      border-style: solid;
      border-bottom-width: 0;
      border-left-width: 0;
      border-right-width: 0;
      border-top-width: 1px; 
      background: whitesmoke;
      padding-bottom: 0;
      padding-top: 3px;
      padding-left: 0;
      padding-right: 0;
      p {
        border-style: solid;
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
        border-bottom-width: 1px;
        font-size: 18px;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
      }
      h2 {
        font-size: 20px;
        border-style: solid;
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
        border-bottom-width: 1px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        //margin-bottom: 20px;
        background: lightgray;
        font-weight: bold;
      }
    }
  }
  .round-progress {
    display: block;
    margin-right: 40px;
    margin-bottom: 10px;
    margin-top: 58px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    color: black;
    text-align: center;
    text-decoration: none;
    background: #ffffff;
    box-shadow: 0 0 4px black;
    cursor: pointer;
    transition: 1000ms ease all;
    outline: none;
  }
  .round-progress:hover {
    background: gray;
  }
  .round-progress img {
    display: block;
    padding: 12%;
    height: auto;
  }
}

