page-factory-monitoring {
  .select {
    img {
        padding-top: 50px;
        padding-right: 50px;
padding-left: 50px;
      margin-bottom: 30px;
    }
    h3{
        margin-top: 30px;
        text-align: center;
    }
    ion-item{
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
  }
  div.input-wrapper{
    border-style: outset;
  }

button.button.button-md.button-default.button-default-md.button-full.button-full-md.button-md-light{
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
}

