page-manager-mode {
.empty-list {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    ion-fab {
      margin-top: 20px;
    }
    h1,
    p {
      font-size: 2em;
  color: #000;
  font-weight: bold;
  // text-shadow:
  //   -3px -3px 0 #000,
  //   1px -3px 0 #000,
  //   -3px 1px 0 #000,
  //   1px 1px 0 #000;  
    }
    h1 {
      font-size: 5em;
      font-weight: bold;
      img {
        height: 200px;
        width: 200px;
        margin-top: 100px;
      }
    }
    p {
      //font-size: 1.55em;
      width: 70vw;
      margin-left: auto;
      margin-right: auto;
    }
    button {
      background: $primary;
    }
    button.activated,
    button:active {
      background: $dark-active;
    }
  }
  ion-input.input.input-md {
    // border-style: none;
    width: 50%;
    margin-left: 25%;
    background: #f4f4f4;
  }
  .empty-lists {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    h1,
    p {
     font-size: 5em;
  color: #000;
  font-weight: bold;
  // text-shadow:
  //   -3px -3px 0 #000,
  //   1px -3px 0 #000,
  //   -3px 1px 0 #000,
  //   1px 1px 0 #000;  
    }
    h1 {
      font-size: 3em;
      img {
        height: 200px;
        width: 200px;
        margin-top: 100px;
      }
    }
    p {
      font-size: 2em;
      font-style: bold;
      width: 70vw;
      margin-left: auto;
      margin-right: auto;
    }
    button {
    //   text-shadow:
    // -1px -1px 0 #000,
    // 1px -1px 0 #000,
    // -1px 1px 0 #000,
    // 1px 1px 0 #000;  
      margin-top: 100px;
      background: #345cc0;
      color: #fff;
      // border: solid;
      // border-color: #000;
      position: relative;
      width: 400px;
      height: 150px;
      font-size: 2em;
      padding: 0 2em;
      cursor: pointer;
      transition: 800ms ease all;
      outline: none;
    }
    button:hover {
      background: #fff;
      color: #000;
      text-shadow: none;
    }
    button:before,
    button:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 2px;
      width: 0;
      background: #000;
      transition: 400ms ease all;
    }
    button:after {
      right: inherit;
      top: inherit;
      left: 0;
      bottom: 0;
    }
    button:hover:before,
    button:hover:after {
      width: 100%;
      transition: 800ms ease all;
    }
  }
  ion-input.input.input-md {
    // border-style: solid;
    width: 50%;
    //height: 80px;
    margin-left: 25%;
  }
  // ion-content {
  //   background-image: url('../assets/images/Gray-background.jpg');
  //   background-position: center;
  //   background-position-y: 100px;
  // }
  
}
