<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>일정 관리</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-fab top right edge>
        <button ion-fab color="dark" icon-only><ion-icon name="help"></ion-icon></button>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col>
  <div class="selectFactory">
    <ion-item>
      <ion-label>공장 선택</ion-label>
      <ion-select okText="확인" cancelText="취소" [(ngModel)]="selectOn" (ionChange)="onChange(selectOn)">
        <ion-option *ngFor="let factory of factories">
          {{factory.title}}
        </ion-option>
      </ion-select>
    </ion-item>
  </div>
    </ion-col>
<ion-col>
  <div class="selectLine" *ngIf="selectOn.length > 0">
    <ion-item>
      <ion-label>라인 선택</ion-label>
      <ion-select okText="확인" cancelText="취소" [(ngModel)]="selectLine" (ionChange)="onLineChange(selectLine)">
        <ion-option *ngFor="let line of factory.lines">
          {{line.name}}
        </ion-option>
      </ion-select>
    </ion-item>
  </div>
  </ion-col>
    </ion-row>
  </ion-grid>  

   <div class="view" *ngIf="selectOn.length > 0">
    
    <div class="factoryProcess" *ngIf="!selectLine || check == 0">
      <ion-card>
        <ion-card-title>{{factory.title}}의 생산 스케쥴 및 현황</ion-card-title>
      </ion-card>
    </div>

    <div class="lineProcess" *ngIf="selectLine && check == 1">
      <ion-card>
        <ion-card-title>{{line.lineId}}번 라인 진행률
          <ion-fab top right>
        <button ion-fab (click)="lineSelectStop()" color="danger2" icon-only><ion-icon name="close"></ion-icon></button>
  </ion-fab>
        </ion-card-title>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="lineProcess_chart">
                  <div style="display: block">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                      [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                  </div>
                </div>
              </ion-col>
              <ion-col>
                <h2>[실제 생산량 / 목표 생산량]</h2>
                <p>일간 생산률</p>
                <progress-bar [progress]="loadProgress"></progress-bar>
                <p>주간 생산률</p>
                <progress-bar [progress]="loadProgress"></progress-bar>
                <p>월간 생산률</p>
                <progress-bar [progress]="loadProgress"></progress-bar>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
  </div> 
</ion-content>

