<ion-header>

  <ion-navbar>
     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>일정 관리</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div class="selectFactory">
    <ion-item>
      <ion-label>공장 선택</ion-label>
      <ion-select [(ngModel)]="selectOn" (ionChange)="onChange(selectOn)">
        <ion-option *ngFor="let factory of factories">
          {{factory.title}}
        </ion-option>
      </ion-select>
    </ion-item>
    </div>

    <div class="view" *ngIf="selectOn.length > 0">
      <div class="lineSelect">
        <ion-card>
          <ion-card-title>라인 선택</ion-card-title>
           <button ion-button full color="dark" (click)="lineSelect(line.lineId)" *ngFor="let line of factory.lines">
            {{line.name}}
          </button> 
        </ion-card>
      </div>
      <div class="factoryProcess" *ngIf="selectLine == 0">
        <ion-card>
         <ion-card-title>{{factory.title}}의 생산 스케쥴 및 현황</ion-card-title>
        </ion-card>
      </div>

      <div class="lineProcess" *ngIf="selectLine > 0">
        <ion-card>
         <ion-card-title>{{selectLine}}번 라인 진행률</ion-card-title>
         <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  
                </ion-col>
                <ion-col>
                  [실제 생산량 / 목표 생산량]

                </ion-col>
              </ion-row>
            </ion-grid> 
         </ion-card-content>
        </ion-card>
      </div>
    </div>
</ion-content>
