page-schedule-manager {
  .selectFactory {
    text-align: center;
    ion-label {
      font-size: 20px;
      font-weight: bold;
    }
  }
  .selectLine{
    text-align: center;
    ion-label {
      font-size: 20px;
      font-weight: bold;
    }
  }
  .lineSelect {
      width: 15%;
      position: absolute;
    ion-card {
      width: 100%;
      text-align: center;
      margin-top: 50px;
      ion-card-title{
          font-size: 20px;
          font-weight: bold;
      }
    }
    button {
      height: 50px;
      margin-bottom: 50px;
      margin-top: 30px;
    }
  }
    .factoryProcess{
      position: absolute;
      ion-card {
      width: 100%;
      text-align: center;
      margin-top: 50px;
      ion-card-title{
          font-size: 20px;
          font-weight: bold;
      }
    }
  }
  .lineProcess{
      width: 97%;
      position: absolute;
      ion-card {
      width: 100%;
      text-align: center;
      margin-top: 20px;
      ion-card-title{
          font-size: 20px;
          font-weight: bold;
      }
      ion-card-content{
          
      }
      .lineProcess_chart{
          margin-top: 80px;
          margin-bottom: 80px; 
      }
      ion-col{
          h1{
              font-weight: bold;
          }
            p{
                text-align: left;
            }
      }
    }
  }

  progress-bar {
 
    .progress-outer {
        width: 96%;
        padding: 5px;
        margin-top: 10px;
        text-align: center;
        background-color: #f4f4f4;
        border: 1px solid #dcdcdc;
        color: #fff;
        border-radius: 20px;
    }
    .progress-inner {

        min-width: 15%;
        white-space: nowrap;
        overflow: hidden;
        padding: 17px;
        border-radius: 20px;
        background-color: map-get($colors, primary);
    }
    .progress-overinner{
        min-width: 15%;
        white-space: nowrap;
        overflow: hidden;
        padding: 5px;
        border-radius: 20px;
        background-color: map-get($colors, google);
    }
}
}

