<ion-header>
  <ion-navbar>
    <button *ngIf="isCorrect == true" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="isCorrect == false">로그인을 해주세요.</ion-title>
    <ion-title *ngIf="isCorrect == true">환영합니다.</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab top right edge>
        <button ion-fab color="dark" icon-only><ion-icon name="help"></ion-icon></button>
  </ion-fab>
  <div class="empty-list" *ngIf="isCorrect == false">
    <h1>
      <ion-icon name="ios-lock"></ion-icon>
    </h1>
    <p>현재 기능 잠금 상태입니다.</p>
    <p>ID 와 PASSWORD를 통해 잠금해제 해주세요</p>
    <ion-label stacked style="color:black">ID</ion-label>
    <ion-input placeholder="사원 ID를 입력하세요." type="text"></ion-input>
    <ion-label stacked style="color:black">PASSWORD</ion-label>
    <ion-input placeholder="사원 PASSWORD를 입력하세요." type="password"></ion-input>
    <ion-fab center>
      <button ion-fab color="primary" (click)="login()"><ion-icon name="ios-unlock"></ion-icon></button>
      </ion-fab> 
  </div>

  <div class="empty-lists" *ngIf="isCorrect == true">
    <h1>
      <ion-icon name="ios-unlock"></ion-icon>
      환영합니다.
    </h1>
     <button icon-left menuToggle><ion-icon name="md-analytics"></ion-icon>Cloud Connecter-MES</button> 
    
     <br/>
     <br/>
    <p>또는 좌측 상단의 메뉴버튼을 통해 기능을 이용하세요.</p>
  </div>

</ion-content>
