page-home {
  .empty-list {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    ion-fab{
      margin-top: 20px;
    }
    h1,
    p {
      color: $gray;
    }
    h1 {
      font-size: 3em;
      img {
        height: 200px;
        width: 200px;
        margin-top: 100px;
      }
    }
    p {
      font-size: 1.125em;
      width: 70vw;
      margin-left: auto;
      margin-right: auto;
    }
    button {
      background: $primary;
    }
    button.activated,
    button:active {
      background: $dark-active;
    }
  }
  ion-input.input.input-md {
    border-style: inset;
    width: 50%;
    margin-left: 25%;
  }

  .empty-lists{
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    h1,
    p {
      color: $gray;
    }
    h1 {
      font-size: 3em;
      img {
        height: 200px;
        width: 200px;
        margin-top: 100px;
      }
    }
    p {
      font-size: 1.125em;
      width: 70vw;
      margin-left: auto;
      margin-right: auto;
    }
    button {
      font-size: 2em;
      background-color: #6acdff;
      height: 100px;
      width: 300px;
    }
    button.activated,
    button:active {
      background: $secondary-active;
    }
  }
  ion-input.input.input-md {
    border-style: inset;
    width: 50%;
    margin-left: 25%;
  }
  
}

