// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
div.toolbar-title.toolbar-title-md{
  font-size: 35px;
  color: #ffffff;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 #000,
    3px -1px 0 #000,
    -1px 1px 0 #000,
    3px 1px 0 #000;  
}
.toolbar-background{
  background-image: url('../assets/images/factoryBanner.jpg');
  // background-repeat: no-repeat;
  background-size:contain;
}

ion-navbar{
  height: 120px;
  button{
    ion-icon{
  color: #ffffff;
  //font-weight: bold;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}}
}
ion-icon {
  margin-top: 5px;
}

ion-card{
  border: solid;
  //border-color: #345cc0;
}

ion-label {
      font-size: 20px;
      font-weight: bold;
    }

 ion-item{
  background:#000;
  color:#fff;
  border:none;
  position:relative;
  height:auto;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
ion-item:hover{
  background:#fff;
  color:#000;
}
ion-item:before,ion-item:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #000;
  transition:800ms ease all;
}
ion-item:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
ion-item:hover:before,ion-item:hover:after{
  width:100%;
  transition:800ms ease all;
}

.menu_toolbar {
  button{
  background: #00BDAD;
  color:#fff;
  border:none;
  text-align: left;
  ion-icon{
    margin-left: 10px;
  }
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  position:relative;
  height:auto;
  font-size:0.87em;
  margin-top: 10px;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background:#fff;
  color:#000;
  text-shadow: none;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #000;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}


  div.input-wrapper {
    line-height: 30px;
    letter-spacing: 2px;
    font-weight: bold;
  }
}
ion-content{
    background-image: url('../assets/images/00bdad.png');
    background-repeat: no-repeat;
    background-size:cover;
}


