<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>불량 관리</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-fab top right edge>
    <button ion-fab color="dark" icon-only><ion-icon name="help"></ion-icon></button>
  </ion-fab>
  <div class="animated zoomIn">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>공장 선택</ion-label>
          <ion-select okText="확인" cancelText="취소" [(ngModel)]="selectOn" (ionChange)="onChange(selectOn)">
            <ion-option *ngFor="let factory of factories">
              {{factory.title}}
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>시작 일자</ion-label>
          <ion-datetime min="2017" doneText="확인" cancelText="취소" displayFormat="YYYY/MM/DD" [(ngModel)]="startDate" (ionChange)="onStartDateChange()"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>종료 일자</ion-label>
          <ion-datetime min="2017" okText="확인" cancelText="취소" displayFormat="YYYY/MM/DD" [(ngModel)]="endDate" (ionChange)="onEndDateChange()"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>

  <ion-card class="animated fadeInUp" *ngIf="factory && startDate && endDate">
    <ion-segment style="margin-left: 10px; width: 98.5%; background-color: #ffffff;" [(ngModel)]="select_view">
      <ion-segment-button style="font-weight: bold;color: #000000;" value="background">
        이력 관리
      </ion-segment-button>
      <ion-segment-button style="font-weight: bold;color: #000000;" value="trace">
        추적 관리
      </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="select_view">
      <div *ngSwitchCase="'background'" style="display: block; padding-left: 10px; padding-bottom: 10px; padding-right: 10px">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>라인 선택</ion-label>
                <ion-select okText="확인" cancelText="취소" [(ngModel)]="selectLine" (ionChange)="onLineChange(selectLine)">
                  <ion-option *ngFor="let line of factory.lines">
                    {{line.name}}
                  </ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col></ion-col>
            <ion-col></ion-col>
          </ion-row>
          <ion-row *ngIf="selectLine">
            <ion-col>
                <ion-label>라인 불량</ion-label>
                <div style="display: block">
                  <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                    [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>

                <ion-label>라인 불량률</ion-label>
                <progress-bar [progress]="loadProgress"></progress-bar>
            </ion-col>
            <ion-col>
              <ion-label>라인 불량 상세</ion-label>
            <div class="table_attribute">
              <ion-row>
                <ion-col style="border-right-width: 0;">
                  <h2>공정</h2>
                  <div *ngFor="let process of line.processes">
                  <p *ngIf="!isEven(process.p_code)">{{process.p_name}}</p>
                  </div>
                </ion-col>
                <ion-col style="border-right-width: 0;">
                  <h2>외관불량</h2>
                  <div *ngFor="let process of line.processes">
                  <p *ngIf="!isEven(process.p_code)">{{process.poor.poor1_num}}</p>
                  </div>
                </ion-col>
                <ion-col style="border-right-width: 0;">
                  <h2>치수불량</h2>
                  <div *ngFor="let process of line.processes">
                  <p *ngIf="!isEven(process.p_code)">{{process.poor.poor2_num}}</p>
                  </div>
                </ion-col>
                <ion-col style="border-right-width: 0;">
                  <h2>설비고장</h2>
                  <div *ngFor="let process of line.processes">
                  <p *ngIf="!isEven(process.p_code)">{{process.poor.poor3_num}}</p>
                  </div>
                </ion-col>
                <ion-col>
                  <h2>공정 불량률</h2>
                  <div *ngFor="let process of line.processes">
                  <p *ngIf="!isEven(process.p_code)">{{process.poorPercent}}</p>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div *ngSwitchCase="'trace'" style="display: block; padding-left: 10px; padding-bottom: 10px; padding-right: 10px">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>제품 선택</ion-label>
                <ion-select okText="확인" cancelText="취소" [(ngModel)]="selectProduct" (ionChange)="onProductChange(selectProduct)">
                  <ion-option *ngFor="let product of factory.products">
                    {{product.name}}
                  </ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col></ion-col>
            <ion-col></ion-col>
          </ion-row>
          <ion-row *ngIf="product">
            <ion-col>
              <ion-label>[{{product.name}}]불량 내역</ion-label>
            <div class="table_attribute">
              <ion-row>
                <ion-col style="border-right-width: 0;">
                  <h2>발생라인</h2>
                  <p *ngFor="let poor of product.productPoor">{{poor.o_line}}</p>
                </ion-col>
                <ion-col style="border-right-width: 0;">
                  <h2>발생공정</h2>
                   <p *ngFor="let poor of product.productPoor">{{poor.o_process}}</p>
                </ion-col>
                <ion-col style="border-right-width: 0;">
                  <h2>불량내용</h2>
                   <p *ngFor="let poor of product.productPoor">{{poor.poor_what}}</p>
                </ion-col>
                <ion-col>
                  <h2>발생시간</h2>
                   <p *ngFor="let poor of product.productPoor">{{poor.o_time}}</p>
                </ion-col>
              </ion-row>
            </div>
            </ion-col>
            <ion-col>
              <ion-label>[{{product.name}}]불량 유형</ion-label>
                <div style="display: block">
                  <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
                </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </ion-card>


</ion-content>

